@using online_is_bulma_platformu.Controllers
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online İş Bulma Platformu</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <style>
        /* Konteyner */
        .content {
          text-align: center;
          box-sizing: border-box;
        }
    </style>
</head>
<body>
    <!-- Header -->
    <header>
        <h2>Online İş Bulma Platformu</h2>
        <div class="nav-links">
            <a asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
            <a asp-area="" asp-controller="Home" asp-action="About">Hakkımızda</a>
            <a asp-area="" asp-controller="Home" asp-action="Contact">İletişim</a>
            @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

            @if (HttpContextAccessor.HttpContext.Session.GetString("UserRole") != null)
            {
            <a href="@Url.Action("Dashboard", HttpContextAccessor.HttpContext.Session.GetString("UserRole"))">
                    Hoş geldiniz, <strong>@ViewBag.UserName</strong>
            </a>
            <a href="@Url.Action("Logout", "RoleBased")">Çıkış Yap</a>
            }
            else
            {
            <a href="@Url.Action("Login", "RoleBased")">Giriş Yap</a>
            <a href="@Url.Action("Register", "RoleBased")">Kayıt Ol</a>
            }
            
        </div>
    </header>

	<!-- Main content -->
	@RenderBody()

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Online İş Bulma Platformu</p>
        <div class="nav-links">
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Gizlilik Politikası</a>
            <a asp-area="" asp-controller="Home" asp-action="Terms">Kullanım Şartları</a>
        </div>
    </footer>
</body>
</html>
